.feature {
    border-top: 8px solid #222;
    padding: 2rem 1rem;
    .feature-details {
        text-align: center;
    }
    .feature-title {
        font-size: 25px;
        font-weight: 600;
        margin: 10px 0;
    }
    .feature-sub-title {
        font-size: 15px;
        font-weight: 400;
    }
    .feature-image-container {
        position: relative;
        width: 100%;
        
        .feature-image {
            width: 100%;
        }
    }
    .feature-backgroud-video-container {
        position: absolute;
        height: 100%;
        max-width: 73%;
        max-height: 54%;
        width: 100%;
        top: 20%;
        left: 13%;
        z-index: -2;

        .feature-backgroud-video {
            width: 100%;
          }
    }
}
.feature-2-poster-container {
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 16em;
    display: flex;
    align-items: center;
    background-color: black;
    border: 2px solid rgba(255, 255, 255, 0.25);
    border-radius: 10px;
    height: 60px;
    padding: 0.25rem 0.6rem;
    gap: 15px;

    .poster-container {
        width: 20%;
        .poster {
            width: 100%;
            height: 100%;
        }
        .poster-details {
            width: 60%;
        }
        .poster-details {
            h4 {
                font-size: 13px;
                font-weight: 500;
            }
        } 
        .poster-details {
            h6 {
                font-size: 12px;
                font-weight: 400;
                color: rgb(63, 63, 246);
            }
        } 
    }
    .download-gif-container {
        width: 20%;
        height: 100%;
        .gif {
            width: 100%;
            height: 100%;
        }
    }
  }
// .feature-3-backgroud-video-container {
//     max-width: 63%;
//     max-height: 47%;
//     z-index: -2;
//     top: 9%;
//     left: 19%;
// }