.footer {
    border-top: 8px solid #333;
    padding: 2rem 1rem;
    color: #757575;
    display: flex;
    flex-direction: column;
    gap: 20px;
    .footer-row-1 {
        h4 {
            font-size: 15px;
            font-weight: 500;
        }
    } 
    .footer-row-2 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 100px;
    }
    .footer-row-3 {
        .dropdown-container {
            width: fit-content;
            border: 1px solid #757575;
            color: #757575;
            .language-drop-down {
                background: transparent;
                border: none;
                color: #757575;
            }
        }
    } 
    
}

